/* Background color */
body {
    background-color: #115d7e;
}
.join_now {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh; /* Full height of the viewport */
}
.circle {
    position: absolute;
    width: 350px;
    height: 350px;
    background-color: #2a9cba1d ; /* Light transparent circles */
    border-radius: 50%;
}
.circle1 {
    top: 5%;
    left: 17%;
}
.circle2 {
    top: 30%;
    left: 10%;
    width: 400px;
    height: 400px;
}
.circle3 {
    bottom: 1%;
    right: 60%;
    width: 500px;
    height: 500px;
}
