@page "/"
@using GibjohnTutoring3.Utilities
@using GibjohnTutoring3.Services
@inject NavigationManager NavigationManager
@inject CustomerService CustomerService
@inject UserSession UserSession

<link rel="stylesheet " href="/CSS/Homepage.css"/>


<body >

    <div class="join_now">
        <h1>Learn up to 2x Faster with GibJohn Tutoring</h1>
        <button onclick="window.location.href='Login';">Join now</button>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...weuiyh8ywewj ew </p>
        <p> ewulhbnfihlwe iwbehf wjinjiwe </p>
        <p> fn wiufnhijkw fnweuof wenf </p>
    </div>


    <!-- Background circles -->
    <div class="circle circle1"></div>
    <div class="circle circle2"></div>
    <div class="circle circle3"></div>

</body>
